
@{
    ViewBag.Title = "See";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-10">
        <h2 style="margin-bottom:0"><span class="label label-primary" style="display:block;text-align:left;border-radius:0">Question ?</span></h2>
        <div>
            <div class="jumbotron" style="margin-bottom:10px;border-radius:0">
                Question description...
            </div>
            <div class="col-md-8" style="padding:0">
                <button type="button" class="btn btn-success">Answer</button>
                <button type="button" class="btn btn-success">Comment</button>
            </div>
            <div class="col-md-4" style="padding:0">
                <span id="date">Feb 02, 2018</span>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwswZVnaDs2Sn9AyTVbEhdfGc3cCr3tbh_tiytTGd_cJf1d8_a" class="img-circle pull-right" width="44" height="44">
                <div id="username" class="text-right" style="padding:24px 4px 0 0">User1</div>
            </div> 
        </div>
    </div>
    <div class="col-md-2">
        <div style="background-color:red">
            <h1>Detail</h1>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        jQuery.fn.extend({
            autoHeight: function () {
                function autoHeight_(element) {
                    return jQuery(element)
                      .css({ 'height': 'auto', 'overflow-y': 'hidden' })
                      .height(element.scrollHeight);
                }
                return this.each(function () {
                    autoHeight_(this).on('input', function () {
                        autoHeight_(this);
                    });
                });
            }
        });

        $('textarea').autoHeight();
    </script>
}




