
@{
    ViewBag.Title = "See";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-10">
        <h2 style="margin-bottom:0"><span id="q-title" class="label label-primary" style="display:block;text-align:left;border-radius:4px 4px 0 0;padding:0.6em">What is SSK ?</span></h2>
        <div>
            <div class="jumbotron" style="padding:0.6em;margin-bottom:0.8em;font-size:1.1em;height:6em;border-radius:0;text-align:justify">
                SSK stands for SEA Saingkoing, KoingDev
                SSK stands for SEA Saingkoing, KoingDev
                SSK stands for SEA Saingkoing, KoingDev
                SSK stands for SEA Saingkoing, KoingDev
                SSK stands for SEA Saingkoing, KoingDev
                SSK stands for SEA Saingkoing, KoingDevSSK stands for SEA Saingkoing, KoingDevSSK stands for SEA Saingkoing, KoingDev
                SSK stands for SEA Saingkoing, KoingDevSSK stands for SEA Saingkoing, KoingDevSSK stands for SEA Saingkoing, KoingDev
                SSK stands for SEA Saingkoing, KoingDevSSK stands for SEA Saingkoing, KoingDevSSK stands for SEA Saingkoing, KoingDev
                SSK stands for SEA Saingkoing, KoingDevSSK stands for SEA Saingkoing, KoingDevSSK stands for SEA Saingkoing, KoingDev
            </div>
            <div class="col-md-10" style="padding:0">
                <button type="button" class="btn btn-success">Answer</button>
                <button type="button" class="btn btn-success">Comment</button>
            </div>
            <div class="col-md-2" style="padding:0">
                <span id="date"><b>Feb 02, 2018</b></span>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwswZVnaDs2Sn9AyTVbEhdfGc3cCr3tbh_tiytTGd_cJf1d8_a" class="img-circle pull-right" width="44" height="44">
                <div id="username" class="text-right" style="padding:2em 0.3em 0 0"><b>User1</b></div>
            </div> 
        </div>
    </div>
    <div class="col-md-2" style="margin-top:20px">
        <div class="alert alert-warning" style="height:8em;padding:0.6em">
            <b>5 months ago</b>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        jQuery.fn.extend({
            autoHeight: function () {
                function autoHeight_(element) {
                    return jQuery(element)
                      .css({ 'height': 'auto', 'overflow-y': 'hidden' })
                      .height(element.scrollHeight);
                }
                return this.each(function () {
                    autoHeight_(this).on('input', function () {
                        autoHeight_(this);
                    });
                });
            }
        });
        $('.jumbotron').autoHeight();
        
    </script>
}




