﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Khmer OS Freehand','Khmer OS Content','Khmer OS',serif;
}



h1,h2,h3,h4,h5,h6{
    font-family: 'Khmer OS Freehand','Khmer OS Content','Khmer OS',serif;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* Styling form "ask question"*/
#txtTopic{
    margin-top: 5px;
}

.topic-block{
    background-color: #44757B;
    border-radius: 2px;
    padding: 0 10px;
    margin-right: 5px;
}

.topic-name{
    color: white;
    margin-right: 5px;
}

.topic-remove{
    color: white;
    cursor: pointer;
}

.topic-remove:hover{
    color: darkred;
}

/*ask question page*/
.qs{
    padding: 10px 0 0 10px;
}

.qscontainer{
    background-color: skyblue;
    border-radius: 0;
}
.entry *{
    /*border-radius: 5px 5px 5px 5px;*/
}
.navbar-custom{
    background-color:#2ed589;
    color:red;
    border:none;
}

.navbar-inverse .navbar-nav > li > a{
    color:white;
    font-family: 'Metal', cursive;
    /*font-weight:bold;*/
    font-size:20px;
    padding-top:15px;
}

.form-horizontal .control-label​​ {
    color:black;
    font-family: 'Metal', cursive;
    /*font-weight:bold;*/
    font-size:15px;

}

.navbar-inverse .navbar-nav > li > a:hover{
    color:#1FAB89;
}

.navbar-inverse .navbar-brand{
    color:#b2f8d8;
    font-family: 'Lobster', cursive;
    font-size:45px;
    padding-bottom:20px;
}

.navbar-inverse .navbar-brand:hover{
    color:black;
}

.nav > li > a > img{
    width:45px;
    height:45px;
    margin-top:5px;
}

h1, h2, h3, h4, h5, h6{
    color:black;
    font-family: 'Metal', cursive;
    /*font-weight:bold;*/
    font-size:15px;
}

.dl-horizontal dt{
    color:black;
    font-family: 'Metal', cursive;
    /*font-weight:bold;*/
    font-size:15px;
    padding-top:10px;
}
.dl-horizontal dd{
    color:black;
    font-family: 'Metal', cursive;
    /*font-weight:bold;*/
    font-size:15px;
    padding-top:10px;
}

footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color:#2ed589;
    color:white;
    padding-top:3px;
}

.text-info{
    color:black;
    font-family: 'Metal', cursive;
    /*font-weight:bold;*/
    font-size:15px;
    padding-top:10px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: inline-block;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
    padding-left:0;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
    font-size:25px;
}

.dl-horizontal dt{
    width:230px;
}

a{
    padding-left:0px;
}

.dl-horizontal dd{
    margin-left:240px;
    color:red;

}

.col-md-offset-1{
    margin-left:2px;
}

   
/*choose image*/
.choose-img{
    float: right;
    margin-right: 10%;
    margin-top: 0;
}

#pc-img{
    width: 0;
    height: 0;
    max-height:350px;
    max-width: 500px;
    border: none;
}

.input-file{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
}

.input-file + label{
    font-size: 1em;
    padding: 5px 20px;
    border-radius: 0 0 8px 8px;
    
}
