div > h2 {
    margin-bottom: 0;
}
#q-title {
    display: block; text-align: left; border-radius: 4px 4px 0 0; padding: 0.6em;
}
#q-description {
    padding: 0.6em; margin-bottom: 0.8em; font-size:1.1em; height:10em; border-radius: 0; text-align: justify;
}
#answer-comment, #date-profile {
    padding: 0;
}
#username {
    padding-top: 2em; font-weight: bold;
}
#date {
    font-weight: bold;
}
#q-detail {
    margin-top: 20px;
}
#q-detail #detail {
    height: 8em; padding: 0.6em;
}
