/* View Question */
#q-title {
    text-align: left; border-radius: 6px 6px 0 0; padding: 0.1em 0.4em; background-color: aquamarine; color: white; margin-top: 20px;
}
#q-title > h4 {
    line-height: 1.5;
}
#q-description {
    padding: 0.4em; margin-bottom: 0.4em; font-size:1.1em; min-height: 10em; border-radius: 0; text-align: justify;
}
#answer-comment, #date-profile {
    padding: 0;
}
#username {
    padding-top: 2em; font-weight: bold;
}
#date {
    font-weight: bold;
}
#q-detail {
    margin-top: 20px; 
}
#q-detail #detail {
    height: 8em; padding: 0.4em; border-radius: 8px;
}