@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Locked out.</h1>
    <h2 class="text-danger">គណនីត្រូវបានបិទ សូមព្យាយាមម្ដងទៀតពេលក្រោយ</h2>
</hgroup>
